In [1]:
%pip install pandas
%pip install scikit-learn
%pip install cardinality

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/k/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/k/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/k/.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/k/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/k/.local/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /home/k/.local/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/k/.local/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /home/k/.local/lib/python3.10/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/k/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cardinality in /home/k/.local/lib/python3.10/site-packages (0.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn import datasets
from sklearn.cluster import KMeans 
from sklearn.metrics import completeness_score

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/khoihuu0301/PTDL/main/BC_New.csv")

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [42]:
import pandas as pd

# Create a sample DataFrame

# Get column name
column_name = 'Total_Ct_Chng_Q4_Q1'

# Access the column
column = df[column_name]

# Calculate statistics
count = column.count()  # Count of non-null values
unique_values = column.unique()  # Array of unique values
distinct_count = len(unique_values)  # Count of distinct values
value_counts = column.value_counts()  # Count of each unique value
percent = value_counts/count*100

# Generate summary statistics
summary_stats = column.describe()

# Additional statistics
data_types = column.apply(type).unique()  # Array of unique data types in the column
#min_length = column.str.len().min()  # Minimum string length
#max_length = column.str.len().max()  # Maximum string length
min_value = column.min()  # Minimum value
max_value = column.max()  # Maximum value
field_format = None  # Field format (specific format or pattern)

# Display the results
print("Column Name:", column_name)
print("Data Type:", column.dtype)
print("Count:", count)
#print("Unique Values:", unique_values)
print("Distinct Count:", distinct_count)
#print("Value Counts:\n", value_counts)
#print("Value Percent:\n", percent)
print("\nSummary Statistics:\n", summary_stats)
print("\nAdditional Statistics:")
print("Data Types:", data_types)
#print("Field Length (MIN):", min_length)
#print("Field Length (MAX):", max_length)
print("Field Value (MIN):", min_value)
print("Field Value (MAX):", max_value)
print("Field Format:", field_format)

Column Name: Total_Ct_Chng_Q4_Q1
Data Type: float64
Count: 10127
Distinct Count: 830

Summary Statistics:
 count    10127.000000
mean         0.712222
std          0.238086
min          0.000000
25%          0.582000
50%          0.702000
75%          0.818000
max          3.714000
Name: Total_Ct_Chng_Q4_Q1, dtype: float64

Additional Statistics:
Data Types: [<class 'float'>]
Field Value (MIN): 0.0
Field Value (MAX): 3.714
Field Format: None

In [44]:
# Access the column
column = df['Total_Ct_Chng_Q4_Q1']

# Calculate statistics
count = column.count()  # Count of non-null values
top_10_values = column.value_counts().head(10)  # Top 10 most frequent values
distinct_count = len(top_10_values)  # Count of distinct values among the top 10
percent = top_10_values/count*100

# Generate summary statistics
summary_stats = column.describe()

# Additional statistics
data_types = column.apply(type).unique()  # Array of unique data types in the column
min_value = column.min()  # Minimum value
max_value = column.max()  # Maximum value
field_format = None  # Field format (specific format or pattern)

# Display the results
print("Column Name:", column_name)
print("Data Type:", column.dtype)
print("Count:", count)
#print("Top 10 Values:\n", top_10_values)
#print("Distinct Count (among Top 10):", distinct_count)
print("Value Percent (among Top 10):\n", percent)
print("\nSummary Statistics:\n", summary_stats)
print("\nAdditional Statistics:")
print("Data Types:", data_types)
print("Field Value (MIN):", min_value)
print("Field Value (MAX):", max_value)
print("Field Format:", field_format)

Column Name: Total_Ct_Chng_Q4_Q1
Data Type: float64
Count: 10127
Value Percent (among Top 10):
 0.667    1.688555
1.000    1.639182
0.500    1.589809
0.750    1.540436
0.600    1.115829
0.800    0.997334
0.714    0.908463
0.833    0.839340
0.778    0.681347
0.625    0.622099
Name: Total_Ct_Chng_Q4_Q1, dtype: float64

Summary Statistics:
 count    10127.000000
mean         0.712222
std          0.238086
min          0.000000
25%          0.582000
50%          0.702000
75%          0.818000
max          3.714000
Name: Total_Ct_Chng_Q4_Q1, dtype: float64

Additional Statistics:
Data Types: [<class 'float'>]
Field Value (MIN): 0.0
Field Value (MAX): 3.714
Field Format: None

In [29]:
unique_values = column.unique()

In [30]:
print(unique_values)

['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +']

In [31]:
grouped_df = df.groupby('Income_Category').agg({'Total_Trans_Ct': 'sum', 'Total_Trans_Amt': 'sum'})

In [32]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, $120K + to Less than $40K
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Total_Trans_Ct   5 non-null      int64
 1   Total_Trans_Amt  5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes

In [33]:
grouped_df.head()

                 Total_Trans_Ct  Total_Trans_Amt
Income_Category
$120K +                   53191          3741501
$40K - $60K              130782          8815891
$60K - $80K               98706          6916126
$80K - $120K             107445          7662202
Less than $40K           266700         17464462

In [34]:
grouped_df['Avg'] = grouped_df['Total_Trans_Amt']/grouped_df['Total_Trans_Ct']

In [35]:
grouped_df.head()

                 Total_Trans_Ct  Total_Trans_Amt        Avg
Income_Category
$120K +                   53191          3741501  70.340866
$40K - $60K              130782          8815891  67.409055
$60K - $80K               98706          6916126  70.067939
$80K - $120K             107445          7662202  71.312783
Less than $40K           266700         17464462  65.483547

In [36]:
3741501/53191

70.3408659359666